<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <!--1.配置前端控制器-->
    <servlet>
        <servlet-name>Seckill_DispatcherServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>
                classpath:spring/spring-web.xml,
                classpath:spring/spring-service.xml,
                classpath:spring/spring-dao.xml,
                classpath:spring/spring-redis.xml
            </param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Seckill_DispatcherServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <!--2.配置POST请求编码过滤器，防止POST请求提交乱码-->

    <!--额外：配置过滤器，过滤页面-->

    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/jsp/error/error404.jsp</location>
    </error-page>
</web-app>